/* Stylesheet for LHS_SCT */
/*
	Sidebar
		- options
		- other
	Logo
	Display
	Animations
*/

/*-------------------------------*/

/* SIDEBAR */

#sidebar {
  position: fixed;
  top:10px;
  left:10px;
  bottom:10px;
  height:calc(100% - 20px);
  width: 300px;
  background: #3FB8AF;
  transition: width ease .5s;
  position:fixed;
  z-index: 120;
}

#sidebar ul {
  font-weight: 700;
  color: #E0E4CC;
}

#sidebar #options li{
  list-style-type: none;
  margin-left: none;
  font-family: 'Montserrat', 'Arial';
  color: #2A5099;
  margin-bottom:2%;
}

	/* OPTIONS */

	#sidebar #options li:hover a{
	  color: #2A5099;
	  font-weight: bold;
	}

	#sidebar #options li:active a{
	  color: black;
	  text-decoration: none;
	  font-weight: bold;
	}
	
	#options .one {
	  font-size:27px;
	  line-height:35px;
	  color:#E0E4CC;
	}
	
	/* OTHER */

	#sidebar #other li 
	{
	  list-style-type: none;
	  margin-left: none;
	  font-family: 'Montserrat', 'Arial';
	  text-decoration: none;
	}	
		
	#other .one {
	  font-size:16px;
	  line-height:26px;
	  color:#E0E4CC;
	}

/*-------------------------------*/

/* DIVIDER */
	
.divider {
    display: block;
    margin-top:none;
    margin-bottom: 1em;
    margin-left: 20px;
    margin-right: 20px;
    border-style: inset;
    border-width: 1px;
    width:100px;
	background-color:#A7DBD8;
}

/*-------------------------------*/

/* LOGO */

.logo {
    width: 90%;
    background-position: center;
    background-size: cover;
	padding-top:3%;
    margin-bottom: none;
    margin-left:3%;
}

/*-------------------------------*/

/* DISPLAY */

.display{
  top:10px;
  left:10px;
  bottom:10px;
  z-index: 2;
  float:right;
  position: fixed;
  margin-left: 300px;
  margin:none;
  height:calc(100% - 20px);
  width:calc(100% - 327px);
  overflow: auto;
  border-left: solid 7px #26ad80;
  background:#E0E4CC;
}

/*-------------------------------*/

/* ANIMATIONS */

#sidebar #options li{
  animation: shiftback 0.5s ease;
  animation-fill-mode: forwards;
  -webkit-animation: shiftback 0.5s ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: shiftback 0.5s ease;
  -moz-animation-fill-mode: forwards;
  -o-animation: shiftback 0.5s ease;
  -o-animation-fill-mode: forwards;
}

@keyframes shiftback{
  0%{ transform: translateX(8%); }
  100%{ transform: translateX(0em); }
}

@-webkit-keyframes shiftback{
  0%{ transform: translateX(8%); }
  100%{ transform: translateX(0em); }
}

@-moz-keyframes shiftback{
  0%{ transform: translateX(8%); }
  100%{ transform: translateX(0em); }
}

@-o-keyframes shiftback{
  0%{ transform: translateX(8%); }
  100%{ transform: translateX(0em); }
}

#sidebar #options li:hover{
  animation: lishift 0.5s ease;
  animation-fill-mode: forwards;
  -webkit-animation: lishift 0.5s ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: lishift 0.5s ease;
  -moz-animation-fill-mode: forwards;
  -o-animation: lishift 0.5s ease;
  -o-animation-fill-mode: forwards;
}

@keyframes lishift{
  0%{ transform: translateX(0em); }
  100%{ transform: translateX(8%); }
}

@-webkit-keyframes lishift{
  0%{ transform: translateX(0em); }
  100%{ transform: translateX(8%); }
}

@-moz-keyframes lishift{
  0%{ transform: translateX(0em); }
  100%{ transform: translateX(8%); }
}

@-o-keyframes lishift{
  0%{ transform: translateX(0em); }
  100%{ transform: translateX(8%); }
}

#selected{
  transition: opacity 1s ease ;
      -webkit-transition: opacity 1s ease;
        -moz-transition: opacity 1s ease;
          -o-transition: opacity 1s ease;
}

/*-------------------------------*/